.cache/
.cmake/
.config/
.dbus/
.fontconfig/
.gnupg/
.gstreamer-0.10/
.idea/
*.iml
.java/
.m2/repository
.node-gyp/
.npm/
.openpnp/
.pulse/
.ssh/
.vim/
.netsurf/

.bash_history
.bash_logout
.gitconfig
.ICEauthority
.lesshst
.profile
.viminfo
.Xauthority
.xscreensaver
**.log

Desktop
Documents
Downloads
github
Music
Pictures
Public
Templates
tmp
Videos
target

.bash_profile
.eclipse/
.gem/
.installjammerinfo/
.local/
.rvm/
.zlogin
.zshrc
finesse/
