.cache/
.cmake/
.config/
.dbus/
.fontconfig/
.gnupg/
.gstreamer-0.10/
.m2/
.node-gyp/
.npm/
.pulse/
.ssh/
.vim/

.bash_history
.bash_logout
.gitconfig
.ICEauthority
.lesshst
.profile
.viminfo
.Xauthority
.xscreensaver
**.log

Desktop
Documents
Downloads
github
Music
Pictures
Public
Templates
tmp
Videos
target
