.cache/
.cmake/
.config/
.dbus/
.gstreamer-0.10/
.node-gyp/
.npm/
.pulse/
.ssh/

.bash_history
.bash_logout
.gitconfig
.ICEauthority
.lesshst
.profile
.viminfo
.Xauthority
.xscreensaver
**.log

Desktop
Documents
Downloads
github
Music
Pictures
Public
Templates
tmp
Videos
